@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root{
  font-size: 15px;
  font-family: "Fira Code", monospace;
  transition: all .2s ease-in-out;

}

body {
  background-color: #1b2234;
}
#hi {
  margin: 1.33rem 3.33rem 0 3.33rem;

  font-weight: 500;
  font-size: 6.13rem;
  color: #ff5c5c;
}
#name {
  margin: 0 3.33rem 0 3.33rem;

  font-weight: 500;
  font-size: 6.33rem;
  color: white;
}
p {
  margin: 1.33rem 3.33rem 1.33rem 3.33rem;
  
  font-size: 1.67rem;
  color: white;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  margin: 1.67rem;
  height: 578px;
  width: 351px;
  background-color: #1d3462;
  border-radius: 22px;
  box-shadow: 0px 0px 18px 3px rgb(0, 0, 0);

  display: grid;
  /* justify-content: center; */
  grid-template-rows: 351px max-content auto;
  transition: all .2s ease-in-out;
}
.card:hover { transform: scale(1.08); }
.cardimage {
  margin: 19px;
  width: 313px;
  height: 313px;
  border-radius: 19.6182px;

  grid-row: 1 /2;
  object-fit: cover;
}
.cardtitle {
  margin: 0 1.33rem .33rem 1.33rem;
  font-weight: 500;
  font-size: 24px;

  grid-row: 2/3;
  color: white;
}
.cardcontent {
  margin: .33rem 1.33rem .33rem 1.33rem;
  font-weight: normal;
  font-size: 18px;

  grid-row-end: 4;
  color: #d1d1d1;
}

@media only screen and (max-width: 690px) /* and (orientation: landscape) */ {
  :root {
    font-size: 10px;
  }
  .card:hover { transform: none; }
}