@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab&display=swap');

@keyframes backcolor{
	from {background-color: lightskyblue;}
	to {background-color: #5BBDFA;}
}

body {
	animation-name: backcolor;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate; 
}

p.thefirstline {
	font-family: Pacifico, sans-serif;
	font-weight: bolder;
	font-size: 80px;
	text-align: center;
}

.tho {
	margin-left: auto;
    margin-right: auto;
    width: fit-content;
	font-family: 'Roboto Slab', serif;
	font-weight: 5x50;
	font-size: 20px;
}
/*@media only screen and (max-width: 800px) {
  .tho {
  	background-color: burlywood;
  	padding-left: 0%;
  }
}*/

img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
