@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab&display=swap');

@keyframes backcolor {
	from {
        background-color: lightskyblue;
    }

    to {
        background-color: #5BBDFA;
    }
}

:root {
    font-size: 16px;
}

body {
    animation-name: backcolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

p.thefirstline {
    font-family: Pacifico, sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
}

.tho {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: 'Roboto Slab', serif;
    font-weight: 550;
    font-size: 1.5rem;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media only screen and (max-width: 800px) {
.tho {
    font-size: 1.25rem;
    background-color:antiquewhite
}
p.thefirstline {
    font-size: 4rem;
}
}